/*  CSS RESET  */
* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and general text */
body
{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #fdfdfd;
    color: #333;
    padding: 10px;
}

/* Headings */
h1, h2, h3 
{
    margin-bottom: 15px;
    font-weight: bold;
}

h4
{
    text-align: center;
}

/* Header styling */
header 
{
    text-align: center;
    padding: 20px;
    background-color: #e6ffe6;
    border-bottom: 3px solid #4CAF50;
    position: -webkit-sticky;
    position: sticky;
}

/* Navigation bar */
nav 
{
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
    border-bottom: #2e8b57;
}

nav a 
{
    color: #2e8b57;
    font-weight: bold;
    margin: 0 10px;
}

nav a:hover
{
    color: #133823;
}

nav p 
{
    color: green;
}

nav li

{
    text-decoration: none;
    font-family: 'Francois One', sans-serif;
}

/* Main content */
main 
{
    max-width: 900px;
    margin: auto;
    padding: 20px;
}
* {
    box-sizing: border-box;
}

/* Footer */
footer 
{
    background: #e6ffe6;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    font-size: 0.9em;
    border-top: 3px solid #4CAF50;
}

footer p a
{
    color: #2e8b57;
}

/* Paragraph spacing */
p 
{
    margin-bottom: 15px;
}

/* Lists */
ul 
{
    margin-left: 20px;
    margin-bottom: 15px;
}

/* Responsive images */
img 
{
    display: block;
    margin: 0 auto;
    max-width: 35%;
    height: auto;
    box-shadow: 5px #000;
}

img:hover
{
    transform: scale(1.1);
}

video
{
    text-align: center;
    display: block;
    width: 100%;
    height: auto;
}

.favorites
{
    text-align: center;
}

/* Style rules for form elements */
fieldset, input, select, textarea
{
	margin-bottom: 2%;
}

fieldset legend
{
	font-weight: bold;
	font-size: 1.25em;
}

legend:hover
{
    transform: translateY(2px);
}

label
{
	display: block;
	padding-top: 3%;
}

form
{
	margin: 0 auto;
	border: none;
	display: block;
	padding: 2%;
	background-color: #4ead3a;
	font-size: 1em;
	border-radius: 10px;
    text-align: center;
}

figure
{
    align-items: center;
}

figcaption
{
    text-align: center;
}

.pic-text
{
    bottom: 0;
    background: #4CAF50;
    color: #ccc;
    padding: 5px;
    text-align: center;
}

table
{
    border: 1px solid #000;
	border-collapse: collapse;
	margin: 0 auto;
	width: 80%;
}

th, td
{
    border: 3px solid #4ead3a;
    text-align: center;
}

th
{
	background-color: #000;
	color: #fff;
	font-size: 1.25em;
}

iframe
{
    text-align: center;
    display: block;
    border: none;
    max-width: 100%;
    margin: 20px auto;
}

tr:nth-child(odd)
{
	background-color: #ccc;
}
/* Make mobile viewport */
@media screen and (min-width: 375px) 
{
    body 
	{
        padding: 5px;
    }
    nav a 
	{
        display: block;
        margin: 8px 0;
    }
    header, footer 
	{
        padding: 10px;
    }
    .tel-num
    {
        text-align: center;
    }
    h2 
    {
        text-align: center;
        display: block;
    }
    img 
    {
        width: auto;
        height: auto;
    }
    iframe
    {
        display: block;
        margin: 40px auto;
        width: 100%;
        height: auto;
    }
    font
    {
        text-align: center;
    }
    table
    {
        width: 100%;
    }
    .mobile-nav
    {
        color: #000;
    }
    .social
    {
        display: inline-block;
	    width: 20%;
    }
}

/* Tablet Viewport */
@media screen and (min-width: 630px)
{
    li 
    {
        text-align: left;
    }
    h2 
    {
        font-size: 40px;
    }
    nav 
    {
        font-size: 25px;
        display: inline;
    }
    iframe
    {
        display: block;
        margin: 60px auto;
        width: 100%;
        height: 100%;
    }
    table
    {
        width: 65%;
    }
    .mobile, .mobile-nav
	{
		display: none;
	}
    nav:not(.mobile-nav)
    {
        display: block;
    }
    .tablet-desktop
	{
		display: block;
	}
    #menu-links
    {
        color: #2e8b57;
    }
    .social
    {
        display: inline-block;
	    width: 10%;
    }

    .social img
    {
	    display: flex;
	    padding: 5%;
    }
}

.mobile-nav a
{
	color: #2e8b57;
	font-family: 'Francois One', sans-serif;
	text-align: center;
	font-size: 1.3em;
	text-decoration: none;
	padding: 5px 0;
	display: block;
}

.menu-icon 
{
    font-size: 2.5em;
}

.mobile-nav a.menu-icon
{
	display: block;
	position: relative;
	right: 0;
	top: 0;
    background-color: transparent;
    padding: 10px;
}

.tablet-desktop, #menu-links
{
	display: none;
}

.mobile
{
    display: block;
}

.project-container
{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
}

.project-font
{
    text-align: left;
    display: block;
}

.javascipt-projects
{
    display: block;
    text-align: right;
}

.tel-num
{
    font-size: 1.25em;
    border: 1px solid black;
    box-shadow: 5px 2px 2px;
}

#favorites
{
    display: block;
}

/* Tablet Vierport */
@media screen and (min-width: 630px)
{
    nav a
    {
        display: inline;
    }
}